:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  background-color: #2196F3;
  padding: 0 62px;
}
.nav_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.nav_link {
  display: block;
  padding: 25px;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.nav_link-active {
  background-color: #1E88E5;
  opacity: 1;
}
.nav_link:hover {
  opacity: 1;
}
.container {
  padding: 50px 62px;
}
.cats_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 225px);
  gap: 50px;
}
.cat_item {
  width: 225px;
  height: 225px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.cat_item:hover {
  transform: scale(1.2);
}
.cat_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.like_button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: none;
  background-image: url('like.svg');
  width: 48px;
  height: 48px;
}
.cat_item:hover .like_button {
  display: block;
}
.cat_item:hover .like_button:hover {
  background-image: url('like-hover.svg');
}
.cat_item:hover .like_button-active, 
.cat_item:hover .like_button-active:hover {
  background-image: url('like-active.svg');
}
